@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
#chatbox body,
#chatbox h1,
#chatbox h2,
#chatbox h3,
#chatbox h4,
#chatbox p,
#chatbox figure,
#chatbox blockquote,
#chatbox dl,
#chatbox dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
#chatbox ul[role='list'],
#chatbox ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
#chatbox html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
#chatbox body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg,var(--grey) 31px, transparent 1px) 50%, linear-gradient(180deg, var(--grey)31px, var(--blue) 1px ) 50%;
  background-size: 32px 32px;
  color: var(--dark)
}

/* A elements that don't have a class get default styles */
#chatbox a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
#chatbox img,
#chatbox picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
#chatbox input,
#chatbox button,
#chatbox textarea,
#chatbox select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* GLOBAL STYLES */
#chatbox :root {
	--blue: #335DFF;
	--grey: #F5F5F5;
	--grey-d-1: #EEE;
	--grey-d-2: #DDD;
	--grey-d-3: #888;
	--white: #FFF;
	--dark: #222;
}
/* CHATBOX */
#chatbox .chatbox-wrapper {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	width: 4rem;
	height: 4rem;
}
#chatbox .chatbox-toggle {
	width: 100%;
	height: 100%;
	background: #281914;
	color: var(--white);
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	transition: .2s;
}
#chatbox .chatbox-toggle:active {
	transform: scale(.9);
}
#chatbox .chatbox-message-wrapper {
	position: absolute;
	bottom: calc(100% + 1rem);
	right: 0;
	width: 314px;
	border-radius: .5rem;
	overflow: hidden;
	box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .1);
	transform: scale(0);
	transform-origin: bottom right;
	transition: .2s;
}

#chatbox .chatbox-message-wrapper.show {
	transform: scale(1);
}
#chatbox .chatbox-message-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--white);
	padding: .75rem 1.5rem;
}
#chatbox .chatbox-message-profile {
	display: flex;
	align-items: center;
	grid-gap: .5rem;
}
#chatbox .chatbox-message-image {
	width: 3rem;
	height: 3rem;
	object-fit: cover;
	border-radius: 50%;
}
#chatbox .chatbox-message-name {
	font-size: 1.125rem;
	font-weight: 600;
}
#chatbox .chatbox-message-status {
	font-size: .875rem;
	color: var(--grey-d-3);
}
#chatbox .chatbox-message-dropdown {
	position: relative;
}
#chatbox .chatbox-message-content {
	background: var(--grey);
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	grid-row-gap: 1rem;
	max-height: 300px;
	overflow-y: auto;
}
#chatbox .chatbox-message-item {
	width: 90%;
	padding: 1rem;
}
#chatbox .chatbox-message-item.sent {
	align-self: flex-end;
	background: var(--blue);
	color: var(--white);
	border-radius: .75rem 0 .75rem .75rem;
}
#chatbox .chatbox-message-item.received {
	background: var(--white);
	border-radius: 0 .75rem .75rem .75rem;
	box-shadow: .25rem .25rem 1.5rem rgba(0, 0, 0, .05);
}
#chatbox .chatbox-message-item-time {
	float:right;
	font-size: .75rem;
	margin-top: .5rem;
	display: inline-block;
}
#chatbox .chatbox-message-bottom {
	background: var(--white);
	padding: .75rem 1.5rem;
}
#chatbox .chatbox-message-form {
	display: flex;
	align-items: center;
	background: var(--grey);
	border-radius: .5rem;
	padding: .5rem 1.25rem;
}
#chatbox .chatbox-message-input {
	background: white;
	outline: none;
	border: none;
	resize: none;
	scrollbar-width: none;
}
#chatbox .chatbox-message-input::-webkit-scrollbar {
	display: none;
}
#chatbox .chatbox-message-submit {
	font-size: 1.25rem;
	color: #281914;
	background: white;
	border: none;
	outline: none;
	cursor: pointer;
}
#chatbox .chatbox-message-no-message {
	font-size: 1rem;
	font-weight: 600;
	text-align: left;
}
/* CHATBOX */


/* BREAKPOINTS */
@media screen and (max-width: 576px) {
	#chatbox .chatbox-message-wrapper {
		width: calc(65vw - 2rem);
	}
	#chatbox .chatbox-wrapper {
		bottom: 1rem;
		right: 1rem;
	}
}
/* BREAKPOINTS */