/**,
*::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    

}
html{
    font-family:'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 10px;
}*/

/*section used for centering process*/

#faqs {
  /* width: 100%;
  height: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #644d38; */
  padding-bottom: 50px;
}
/*.container{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}*/

#faqs .accordion {
  font-family: "Philosopher", sans-serif;
  font-weight: 500;
  border-radius: 8px;
}

#faqs .accordion-item {
  background-color: white;
  border-radius: 8px;
  margin-bottom: 1rem;
  padding: none;
  /*box-shadow: 0.5rem 2px 0.5rem (#281914/0.8);*/
}
#faqs .accordion-link {
  font-family: "Philosopher", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  color: whitesmoke;
  text-decoration: none;
  background-color: #281914e2;
  /*outline-color: white;
  outline-style:solid;*/
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

#faqs .accordion-link:hover {
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
}
#faqs .accordion-link i {
  color: whitesmoke;
  padding: 0.5rem;
}
#faqs .accordion-link .fa-square-minus {
  display: none;
}
#faqs .answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  border-color: #281914;
  transition: max-height 650ms;
}
#faqs .answer::before {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 90%;
  /*background-color: #251f18da;*/
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#faqs .answer p,
#faqs .answer ul {
  color: #281914;
  font-weight: 300;
  font-size: 1rem;
  padding: 2rem;
}
#faqs .accordion-item:target .answer {
  max-height: 20rem;
}
#faqs .accordion-item:target .accordion-link .fa-plus {
  display: none;
}
#faqs .accordion-item:target .accordion-link .fa-minus {
  display: block;
}
