#location {
  padding-bottom: 50px;
}
/*  .GOOGLEMAP{
            float: left;
            max-width: 20px;
        }  */

table#locTable {
  border: 1px black;
  border-radius: 10px;
  background-color: darkgray;
  margin: auto;
}
th,
td {
  border: 1px black;
  padding: 20px;
}
/*-----------------------------------------*/
.bigpic {
  width: 1250px;
  margin: 50px auto;
  border: solid 1px none;
  overflow: hidden; /* 避免長方框下面顯示不正常 */
  margin-bottom: 50px auto;
  background-color: darkgray;
}
.pic {
  /* float: left; 圖片在左邊 */
}

.GOOGLEMAP {
  text-align: center;
  /* float: right; 文字在右邊 */
}
#location h1 {
  font-size: 50px;
}
