

#checkout .input_box {
  width: 100%;
  margin-right: 12px;
  position: relative;
}

#checkout .input_box:last-child {
  margin-right: 0;
}

#checkout .input_box .name {
  padding: 14px 10px 14px 50px;
  width: 100%;
  background-color: #fcfcfc;
  border: 1px solid #0003;
  outline: none;
  letter-spacing: 1px;
  transition: 0.3s;
  border-radius: 3px;
  color: #333;
}

#checkout .input_box .name:focus,
.dob:focus {
  -webkit-box-shadow: 0 0 2px 1px burlywood;
  -moz-box-shadow: 0 0 2px 1px burlywood;
  box-shadow: 0 0 2px 1px burlywood;
  border: 1px solid burlywood;
}


#payment .name:focus + .icon {
  background-color: burlywood;
  color: #fff;
  border-right: 1px solid burlywood;
  border: none;
  transition: 1s;
}

/*#payment .dob {
  width: 30%;
  padding: 14px;
  text-align: center;
  background-color: #fcfcfc;
  transition: 0.3s;
  outline: none;
  border: 1px solid #c0bfbf;
  border-radius: 3px;
}*/


#checkout .input_box label {
  width: 50%;
  padding: 13px;
  background-color: #fcfcfc;
  display: inline-block;
  float: left;
  text-align: center;
  border: 1px solid #c0bfbf;
}

/*#checkout .input_box label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: none;
}

#checkout .input_box label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#checkout .radio:checked + label {
  background-color: burlywood;
  color: #fff;
  transition: 0.5s;
}*/

#checkout .input_box button {
  width: 100%;
  background-color: burlywood;
  border: none;
  color: #fff;
  padding: 15px;
  border-right: 4px;
  font-size: 16px;
  transition: all 0.3s ease;
  border-radius: 8px;
}

#checkout .input_box button:hover {
  cursor: pointer;
  background-color: rgb(211, 159, 90);
}
#payment .btn {
  padding: 10px 60px;
  background: burlywood;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}

