#machines, #coffee {
  font-family: "Poppins", sans-serif;
}

#machines .carousel-caption, #coffee .carousel-caption{
  position: absolute;
  top: 150px;
  color: white;
  text-shadow: 2px 0px black;
}

#machines .carousel-caption div:first-of-type, 
#coffee .carousel-caption div:first-of-type {
  font-size: 4.5rem;
  line-height: 1.2;
}

#machines .slidecontainer, #coffee .slidecontainer {
  width: 120%;
}

#machines .slider, #coffee .slider {
  -webkit-appearance: none;
  width: 20%;
  height: 20px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-left: 120px;
}

#machines .slider:hover, #coffee .slider:hover {
  opacity: 1;
}

#machines .slider::-webkit-slider-thumb
, #coffee .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #04aa6d;
  cursor: pointer;
}

#machines .slider::-moz-range-thumb
, #coffee .slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #04aa6d;
  cursor: pointer;
}

#machines .slidecontainer
, #coffee .slidecontainer {
  color: white;
  margin-left: 120px;
}

#machines .img-fluid
, #coffee .img-fluid {
  max-height: 100vh;
  width: auto;
  height: auto;
  margin: auto;
}

#machines .container, #coffee .container {
  padding-bottom: 60px;
}

#machines .card-deck .card, #coffee .card-deck .card {
  padding: 10px;
  justify-content: space-between;
  
}

#machines .card-block, #coffee .card-block {
  padding: 15px 20px;
  height: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}

#machines .card-title, #coffee .card-title {
  min-height: 50px;
}

#machines .card .text-left {
  height: 290px;
  padding: 10px 0;
}

#coffee .card .text-left{
  height: 450px;
  padding: 10px 0;
}

#machines .card img, #coffee .card img {
  cursor: pointer;
}