#productdetail {
  padding-bottom: 50px;
  margin: auto;
}
#productdetail .card {
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
  transition: 200ms;
  background: #fff;
}

#productdetail .card2 {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
  transition: 200ms;
  background: white;
  border-radius: 5px;
  padding: 40px 30px;
  font-family: "Open Sans", sans-serif;
}

#productdetail .card .card__title {
  display: flex;
  align-items: center;
  padding: 30px 40px;
}
#productdetail .card .card__title h3 {
  flex: 0 1 200px;
  text-align: right;
  margin: 0;
  color: #252525;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}
#productdetail .card .card__title .icon {
  flex: 1 0 10px;
  background: #5c4410;
  color: #fff;
  padding: 10px 10px;
  transition: 200ms;
}
#productdetail .card .card__title .icon > a {
  color: #fff;
}
#productdetail .card .card__title .icon:hover {
  background: #252525;
}
#productdetail .card .card__body {
  padding: 0 40px;
  display: flex;
  flex-flow: row no-wrap;
  margin-bottom: 25px;
}
#productdetail .card .card__body > .half {
  box-sizing: border-box;
  padding: 0 15px;
  /*flex: 1 0 50%;*/
}
#productdetail .card .card__body .featured_text h1 {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  line-height: 50px;
  color: #181e28;
}

#productdetail .card .card__body .featured_text p {
  margin: 0;
  padding: 0;
}
#productdetail .card .card__body .featured_text p.sub {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  color: #686e77;
  font-weight: 300;
  margin-bottom: 5px;
}
#productdetail .card .card__body .featured_text p.price {
  font-family: "Fjalla One", sans-serif;
  color: #252525;
  font-size: 26px;
}
#productdetail .card .card__body .image {
  padding-top: 15px;
  width: 100%;
}
#productdetail .card .card__body .image img {
  display: block;
  max-width: 100%;
  height: auto;
}
#productdetail .card .card__body .description {
  margin-bottom: 25px;
}
#productdetail .card .card__body .description p {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 27px;
  font-size: 16px;
  color: #555;
}

#productdetail .btn-group-lg {
  margin-top: 40px;
  padding-left: 30px;
}

#review {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 27px;
  font-size: 16px;
  color: #555;
}

#productdetail .card .card__body span.stock {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #a1cc16;
}
#productdetail .card .card__body .reviews .stars {
  display: inline-block;
  list-style: none;
  padding: 0;
}
#productdetail .card .card__body .reviews .stars > li {
  display: inline-block;
}
#productdetail .card .card__body .reviews .stars > li .fa {
  color: #f7c01b;
}
#productdetail .card .card__body .reviews > span {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-left: 5px;
  color: #555;
}
#productdetail .card .card__footer {
  padding: 30px 40px;
  display: flex;
  flex-flow: row no-wrap;
  align-items: center;
  position: relative;
}
#productdetail .card .card__footer::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 40px;
  width: calc(100% - 40px);
  height: 3px;
  background: #926014;
  background: linear-gradient(
    to right,
    #ebad67 0%,
    #d69346 20%,
    #945b1a 20%,
    #503413 20%,
    #382003 100%
  );
}
#productdetail .card .card__footer .recommend {
  flex: 1 0 10px;
}
#productdetail .card .card__footer .recommend p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #555;
}
#productdetail .card .card__footer .recommend h3 {
  margin: 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #5c4410;
}
#productdetail .card .card__footer .action button,
#comment .action button {
  cursor: pointer;
  border: 1px solid #5c4410;
  padding: 14px 30px;
  border-radius: 8px;
  color: #fff;
  background: #5c4410;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  transition: 200ms;
}
#productdetail .card .card__footer .action button:hover,
#comment .action button:hover {
  background: #fff;
  color: #2b1b04;
}

#slider-wrapper {
  width: 480px;
  height: 300px;
  margin: 30px auto;
  position: relative;
  margin-bottom: 0px;
  background: white;
  overflow: hidden;
}

#s1 {
  padding: 6px;
  background: #000000;
  position: absolute;
  left: 10%;
  bottom: 0px;
  margin-left: -36px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 3;
}

#s2 {
  padding: 6px;
  background: #000000;
  position: absolute;
  left: 10%;
  bottom: 0px;
  margin-left: -12px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 3;
}

#s3 {
  padding: 6px;
  background: #000000;
  position: absolute;
  left: 10%;
  bottom: 0px;
  margin-left: 12px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 3;
}

#s4 {
  padding: 6px;
  background: #000000;
  position: absolute;
  left: 10%;
  bottom: 0px;
  margin-left: 36px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 3;
}

#s1:hover,
#s2:hover,
#s3:hover,
#s4:hover {
  opacity: 0.5;
}

#productdetail .inner-wrapper {
  width: 450px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0px;
  overflow: hidden;
}

#productdetail .control {
  display: none;
}

#Slide1:checked ~ .overflow-wrapper {
  margin-left: 0%;
}

#Slide2:checked ~ .overflow-wrapper {
  margin-left: -100%;
}

#Slide3:checked ~ .overflow-wrapper {
  margin-left: -200%;
}

#Slide4:checked ~ .overflow-wrapper {
  margin-left: -300%;
}

#Slide1:checked + #s1 {
  opacity: 1;
}

#Slide2:checked + #s2 {
  opacity: 1;
}

#Slide3:checked + #s3 {
  opacity: 1;
}

#Slide4:checked + #s4 {
  opacity: 1;
}

#productdetail .overflow-wrapper {
  width: 400%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#productdetail .slide img {
  width: 25%;
  float: left;
}

#productdetail .dot {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
#productdetail .dot-1 {
  height: 25px;
  width: 25px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
}

#productdetail .tablink {
  cursor: pointer;
  background: #5c4410;
  padding: 14px 30px;
  border-bottom-left-radius: revert;
  border-bottom-right-radius: revert;
  font-family: "Open Sans", sans-serif;
  color:#fff;
  transition: 200ms;
}

#productdetail .tablink.w3-red {
  background-color: white;
  color:black
}

#commentbox {
  margin: 10px;
}

#rating fieldset,
#rating label {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5em;
  margin: 10px;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}
