.shopping-cart {
  display: flex;
  align-items: center;
}

.fa-stack[data-count]:after {
  position: absolute;
  right: 0%;
  top: 0%;
  content: attr(data-count);
  font-size: 45%;
  padding: 0.6em;
  border-radius: 999px;
  line-height: 0.75em;
  color: brown;
  text-align: center;
  min-width: 2em;
  font-weight: bold;
  background: white;
  border-style: solid;
}

.fa-shopping-cart {
  color: white;
}

.fa[data-count] {
  position: relative;
}
.fa[data-count]:after {
  position: absolute;
  right: -0.75em;
  top: -0.75em;
  content: attr("total-court");
  padding: 0.5em;
  border-radius: 10em;
  line-height: 0.9em;
  color: red;
  background: white;
  text-align: center;
  min-width: 2em;
  font: bold 0.4em sans-serif;
}
